<style>
   .green {
     color: #006400;
   }
   .red {
     color: #B22222;
   }
</style>

<div class="container">
  <div class="row justify-content-center mt-3">
    <h1 class="text-center border border-primary rounded-pill"><%= t('.header', title: @test_passage.test.title) %></h1>
  </div>

  <div class="row justify-content-center mt-5">
    <% if @test_passage.success? %>
      <h2 class="text-center"><%= t('.test_result') %> <span class='green'><%= @test_passage.test_result %> %</span>. <%= t('.success') %></h2>
    <% else %>
      <h2 class="text-center"><%= t('.test_result') %> <span class ='red'><%= @test_passage.test_result %> %</span>. <%= t('.non_success') %></h2>
      <div class="col col-lg-2">
        <%= button_to t('.restart'), start_test_path(@test_passage.test), class: 'btn btn-primary mt-2' %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <div class="col col-lg-2">
      <%= link_to t('.all_tests'), tests_path, class: 'btn btn-primary mt-2' %>
    </div>
  </div>
</div>

