<style>
   .green {
     color: #006400;
   }
   .red {
     color: #B22222;
   }
</style>

<h1>The <%= @test_passage.test.title %> Test was completed!</h1>

<% if @test_passage.success? %>
  <h2>Your result: <span class = 'green'><%= @test_passage.test_result %> %</span>. Test passed successfully</h2>
<% else %>
  <h2>Your result: <span class = 'red'><%= @test_passage.test_result %> %</span>. Test failed, try again</h2>
  <p><%= button_to 'Restart', start_test_path(@test_passage.test) %></p>
<% end %>

<%= link_to 'Show all tests', tests_path %>
