<style>
   .green {
     color: #006400;
   }
   .red {
     color: #B22222;
   }
</style>

<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <h2><%= t('.test_result') %> <span class = 'green'><%= @test_passage.test_result %> %</span>. <%= t('.success') %></h2>
<% else %>
  <h2><%= t('.test_result') %> <span class = 'red'><%= @test_passage.test_result %> %</span>. <%= t('.non_success') %></h2>
  <p><%= button_to t('.restart'), start_test_path(@test_passage.test) %></p>
<% end %>

<%= link_to t('.all_tests'), tests_path %>
