<h2 class="mt-3 text-center border border-primary rounded-pill"><%= t('.header') %></h2>

<p>
  <%= link_to t('.new_test'), new_admin_test_path, type: 'button', class: "btn btn-outline-secondary mt-3" %>
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table table-hover">
  <tr class="fw-bold">
    <td class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: "text-success hide" %>
      <%= octicon 'arrow-down', class: "text-success hide" %>
    </td>
    <td><%= t('.category') %></td>
    <td><%= t('.level') %></td>
    <td><%= t('.quantity_of_questions') %></td>
    <td colspan="3" class="text-center"><%= t('.action') %></td>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td class="align-middle">
        <%= content_tag :span, test.title, class: "test-title", data: { test_id: test.id} %>
        <%= render 'form_inline', test: test == @test ? @test : test %>
      </td>
      <td class="align-middle"><%= test.category.title %></td>
      <td class="align-middle"><%= test.level %></td>
      <td class="align-middle"><%= test.questions.count %></td>
      <td class="align-middle"><%= link_to t('.show'), admin_test_path(test), type: "button", class: "btn btn-outline-secondary" %></td>
      <td class="align-middle">
        <%= link_to t('.edit'), 
                    edit_admin_test_path(test),
                    data: { test_id: test.id},
                    type: "button",
                    class: "btn btn-outline-secondary form-inline-link" %>
      </td>
      <td class="align-middle">
        <%= link_to t('.delete'),
                    admin_test_path(test),
                    method: :delete,
                    data: { confirm: t('.confirm') },
                    type: "button", class: "btn btn-outline-secondary" %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to t('.gists'), admin_gists_path, type: 'button', class: "btn btn-outline-secondary mt-3" %>
</p>
