<h2 class="mt-3 text-center border border-primary rounded-pill"><%= t('.header') %></h2>

<table class="table table-hover">
  <tr class="fw-bold">
    <td class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: "text-success hide" %>
      <%= octicon 'arrow-down', class: "text-success hide" %> 
    </td>
    <td><%= t('.category') %></td>
    <td><%= t('.level') %></td>
    <td><%= t('.quantity_of_questions') %></td>
    <td><%= t('.timer') %></td>
    <td><%= t('.action') %></td>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= test.category.title %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td>
        <% if test.timer == 0 %>
          <%= t('.without_time') %>
        <% else %>
          <%= "#{test.timer} #{t('.minute')}" %>
        <% end %>
      </td>
      <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-outline-secondary' %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to t('.recall'), new_recall_path, type: "button", class: 'btn btn-outline-secondary' %>
</p>
