<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<table>
  <tr>
    <td>Questions</td>
    <td>View question</td>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.body %></td>
    <td><%= link_to 'Show', question_path(question) %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'Add question', new_test_question_path(@test.id) %></p>

<p><%= link_to 'Back', tests_path %></p>
