<div class="fixed-bottom mb-5 text-center">
  <%= current_year %> | <%= t('.author_name') %> | <%= github_url('anastasiialosytska', 'test-guru') %> |
  <%= t('.app_description') %> | <%= link_to t('.link_to_thinknetica'), 'https://thinknetica.com/', target: :blank %>
</div>
